<tr>
<td>
<%= link_to fooditem.name ,fooditem_path(fooditem)%>
</td>
<td>
<%= link_to "Edit" , edit_fooditem_path(fooditem) %>
</td>
<td>
<%= link_to 'Delete', fooditem, :confirm => 'Are you sure?', :method => :delete%>
</td>
</tr>
