<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Food for thought</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <form action="" class="pull-right">
        <input class="input-small" type="text" placeholder="Username">
        <input class="input-small" type="password" placeholder="Password">
        <button class="btn" type="submit">Sign in</button>
        <%= link_to 'Sign Up', new_user_path %>
      </form>
    </div>
  </div>
</div>
